In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dikson,RU,2021-07-18 21:41:31,73.5069,80.5464,35.73,89,24,6.06
1,1,Severo-Kurilsk,RU,2021-07-18 21:41:31,50.6789,156.1250,52.70,91,78,13.00
2,2,Hermanus,ZA,2021-07-18 21:41:31,-34.4187,19.2345,49.80,77,74,4.99
3,3,Richards Bay,ZA,2021-07-18 21:43:39,-28.7830,32.0377,57.00,83,0,5.66
4,4,Kutum,SD,2021-07-18 21:41:32,14.2000,24.6667,74.73,53,83,12.35

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps) we reassigned this to...
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Panormos,GR,2021-07-17 22:02:47,35.4182,24.6909,78.66,66,0,3.78
2,2,Kuching,MY,2021-07-17 22:02:48,1.5500,110.3333,77.22,94,20,3.44
3,3,Hithadhoo,MV,2021-07-17 22:02:48,-0.6000,73.0833,82.02,73,17,3.06
6,6,Cockburn Town,TC,2021-07-17 22:00:50,21.4612,-71.1419,81.54,80,48,20.56
11,11,Sao Gabriel Da Cachoeira,BR,2021-07-17 22:00:15,-0.1303,-67.0892,77.79,89,97,1.23
14,14,Kahului,US,2021-07-17 22:02:51,20.8947,-156.4700,83.97,82,100,11.01
22,22,Kalmunai,LK,2021-07-17 22:02:54,7.4167,81.8167,78.19,85,98,3.71
24,24,Georgetown,MY,2021-07-17 22:02:55,5.4112,100.3354,80.89,89,20,1.01
27,27,Zhuhai,CN,2021-07-17 22:02:56,22.2769,113.5678,82.18,89,40,4.61
30,30,Umm Lajj,SA,2021-07-17 22:02:57,25.0213,37.2685,87.22,52,100,3.33

In [22]:
preferred_cities_df.count()

City_ID       205
City          205
Country       205
Date          205
Lat           205
Lng           205
Max Temp      205
Humidity      205
Cloudiness    205
Wind Speed    205
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
1                   Panormos      GR     78.66  35.4182   24.6909
2                    Kuching      MY     77.22   1.5500  110.3333
3                  Hithadhoo      MV     82.02  -0.6000   73.0833
6              Cockburn Town      TC     81.54  21.4612  -71.1419
11  Sao Gabriel Da Cachoeira      BR     77.79  -0.1303  -67.0892
14                   Kahului      US     83.97  20.8947 -156.4700
22                  Kalmunai      LK     78.19   7.4167   81.8167
24                Georgetown      MY     80.89   5.4112  100.3354
27                    Zhuhai      CN     82.18  22.2769  113.5678
30                  Umm Lajj      SA     87.22  25.0213   37.2685

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # USED _ hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    #IndexError
    #Recall that when trying to parse the data from an API request, we need to use a try-except block to handle the error with a statement and continue the retrieval.
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Panormos,GR,78.66,35.4182,24.6909,Kirki Village Ξενοδοχείο
2,Kuching,MY,77.22,1.5500,110.3333,The Ranee Boutique Suites
3,Hithadhoo,MV,82.02,-0.6000,73.0833,Scoop Guest House
6,Cockburn Town,TC,81.54,21.4612,-71.1419,Osprey Beach Hotel
11,Sao Gabriel Da Cachoeira,BR,77.79,-0.1303,-67.0892,Alarne - Área De Lazer Do Alto Rio Negro
...,...,...,...,...,...,...
596,Corn Island,NI,81.99,12.1694,-83.0418,Big Fish Guest House
597,Bull Savanna,JM,82.94,17.8868,-77.5902,Big Red's
598,Beruwala,LK,79.36,6.4788,79.9828,The Palms Hotel
599,Garowe,SO,79.48,8.4054,48.4845,Curubo Hotel
603,Petit Goave,HT,87.98,18.4314,-72.8669,Imperial Suite International

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [35]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))