## Deliverable 2. Create a Customer Travel Destinations Map.

In [11]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Albany,42.6001,-73.9662,68.61,95,100,4.74,US,2021-07-19 00:13:12
1,1,Deputatskiy,69.3000,139.9000,57.65,38,98,5.44,RU,2021-07-19 00:07:54
2,2,Thiers,45.8333,3.5000,70.12,99,6,1.61,FR,2021-07-19 00:11:30
3,3,Atuona,-9.8000,-139.0333,77.95,74,8,25.34,PF,2021-07-19 00:15:14
4,4,Hermanus,-34.4187,19.2345,56.89,80,82,6.17,ZA,2021-07-19 00:17:07

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Thiers,45.8333,3.5000,70.12,99,6,1.61,FR,2021-07-19 00:11:30
3,3,Atuona,-9.8000,-139.0333,77.95,74,8,25.34,PF,2021-07-19 00:15:14
5,5,Humberto De Campos,-2.5983,-43.4611,75.78,90,13,4.70,BR,2021-07-19 00:11:31
6,6,Sudak,44.8500,34.9667,77.83,60,0,4.29,UA,2021-07-19 00:11:31
7,7,Kapaa,22.0752,-159.3190,84.52,76,75,3.00,US,2021-07-19 00:17:07
10,10,Rikitea,-23.1203,-134.9692,71.46,62,100,24.23,PF,2021-07-19 00:17:08
12,12,Bengkulu,-3.8004,102.2655,75.06,90,66,4.00,ID,2021-07-19 00:17:09
21,21,Vaini,-21.2000,-175.2000,80.76,83,40,8.05,TO,2021-07-19 00:17:11
26,26,Buala,-8.1450,159.5921,84.34,73,92,12.08,SB,2021-07-19 00:11:37
27,27,Morgantown,39.6295,-79.9559,77.85,77,88,3.65,US,2021-07-19 00:11:13

In [17]:
# 4a. Determine if there are any empty rows.
len(preferred_cities_df)

344

In [18]:
np.where(pd.isnull(preferred_cities_df))

(array([], dtype=int64), array([], dtype=int64))

In [23]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
new_prefer_city_df = preferred_cities_df.dropna

In [24]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

NameError: name 'clean_df' is not defined

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure