## Deliverable 3. Create a Travel Itinerary Map.

In [63]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import gmaps
import requests
from citipy import citipy
# Import the API key.
from config import weather_api_key
from config import g_key
from datetime import datetime

In [64]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Weather_Database/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Saint-Philippe,RE,69.39,broken clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
1,3,Port Alfred,ZA,48.79,moderate rain,-33.5906,26.8910,The Halyards Hotel
2,7,Bluff,NZ,46.80,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
3,10,Rikitea,PF,72.70,few clouds,-23.1203,-134.9692,People ThankYou
4,11,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,Keleti Beach Resort

In [65]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Latitude</dt><dd>{Lat}</dd>
<dt>Longitude</dt><dd>{Lng}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [66]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Saint-Philippe,RE,69.39,broken clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
1,3,Port Alfred,ZA,48.79,moderate rain,-33.5906,26.8910,The Halyards Hotel
2,7,Bluff,NZ,46.80,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
3,10,Rikitea,PF,72.70,few clouds,-23.1203,-134.9692,People ThankYou
4,11,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,Keleti Beach Resort

In [68]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Ingham"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Ingham"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Oil City"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Hamilton"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Logansport"] 
vacation_stop3.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
411,644,Logansport,US,79.05,clear sky,40.7545,-86.3567,"Holiday Inn Express & Suites Logansport, an IH..."

In [69]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy
end = vacation_start[["Lat", "Lng"]].to_numpy
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy
stop3

<bound method DataFrame.to_numpy of          Lat      Lng
411  40.7545 -86.3567>

In [70]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

# Latitude-longitude pairs
Ingham = (42.6, -84.3833)
Oil_City = (41.4339, -79.7064)
Hamilton = (39.1834, -84.5333)
Logansport = (40.7545, -86.3567)
Ingham = (42.6, -84.3833)

fig = gmaps.figure()
ingham_to_ingham = gmaps.directions_layer(
        Ingham, Ingham, waypoints=[Oil_City, Hamilton, Logansport],
        travel_mode='DRIVING')
fig.add_layer(ingham_to_ingham)
fig

Figure(layout=FigureLayout(height='420px'))

In [92]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,106,Ingham,US,73.02,clear sky,42.6000,-84.3833,Sunset Place
1,569,Oil City,US,71.29,clear sky,41.4339,-79.7064,Days Inn by Wyndham Oil City Conference Center
2,179,Hamilton,US,79.65,few clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
3,644,Logansport,US,79.05,clear sky,40.7545,-86.3567,"Holiday Inn Express & Suites Logansport, an IH..."

In [93]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [94]:
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

In [97]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(40.0, -85.0), zoom_level=5.5)
ingham_to_ingham = gmaps.directions_layer(
        Ingham, Ingham, waypoints=[Oil_City, Hamilton, Logansport],
        travel_mode='DRIVING')
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(ingham_to_ingham)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))